# Git data
.git

# Elixir build artifacts
_build
## !_build/prod/lib
deps

# Node build artifacts
node_modules

k8s
doc

Makefile
Dockerfile

# Tests
test

# Compiled static artifacts
priv/static

priv/plts

.env

*.dump
## *.tar
## *.gz
